<!doctype html>
<html>
        <title>Etherpad dashboard</title>

        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="localizations" type="application/l10n+json" href="locales.json">
        <script type="text/javascript" src="static/js/html10n.js"></script>
        <script type="text/javascript" src="static/js/l10n.js"></script>
        <link href="static/custom/index.css" rel="stylesheet"> 

        <div>
            <p>This is your dashboard, <%= username %>!</p>
            <a href="/logout">Log out</a>
        </div>
</html>
