<div id="inner">
    <div id="button" onclick="go2Random()" data-l10n-id="index.newPad"></div>
    <div id="label" data-l10n-id="index.createOpenPad"></div>
    <form action="#" onsubmit="go2Name();return false;">
        <input type="text" id="padname" autofocus x-webkit-speech>
        <button type="submit">OK</button>
    </form>
    <br/>
    Are you a registered user? <a href="/login">Log in here</a>
</div>